<p>
  <b>Name</b> (e.g. 'Prod', 'Test', 'Dev')<br />
  <%= text_field 'stage', :name %>
</p>


<p>
  <b>description</b> (描述)<br />
  <%= text_field 'stage', :descrips %>
</p>

<p>
  <b>demander</b> (需求方)<br />
  <%= text_field 'stage', :demander %>
</p>

<p>
  <b>task-sn</b> (任务编号)<br />
  <%= text_field 'stage', :task_sn %>
</p>

<p>
  <b>Alert these emails on deploy</b> (separated by space)<br />
  <%= text_field 'stage', :alert_emails, :style =>'width:330px' %>
</p>
